@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}
input {
  border: 1px solid white;
}
.dark-input input {
  color: white;
}

.dialog-overlay {
  /* background-color: rgba(0, 0, 0, 0.6); */
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.dialog-content {
  background: #1c1c1c;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  margin: auto;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  color: white;
}

.dialog-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-grid {
  display: grid;
  gap: 1rem;
}
.white-text {
  color: white;
}

.toast-viewport {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2000;
}

input {
  color: white !important;
  font-weight: bold  !important;
  border: 1px solid #7e7e7e !important;
}